{% extends "layout.twig" %}

{% block title %}Cart{% endblock %}
{% block content %}
    <h1>Cart page</h1>
    <h4>Total products: <span id="product_count">{{ cartCount }}</span></h4>
    <div id="unsaved_storage" class="alert">You have unsaved products in your cart - <a id="sync_storage" href="#sync">click to update</a></div>
    <div class="loader" id="cart_sync_loader" style="display: none"></div>
    <table class="cart" id="cart">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th></th>
        </tr>
        </thead>
        {% for product in cart %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td class="product_price">{{ product.price }}</td>
                <td><input class="product_quantity" type="text" value="{{ product.quantity }}" maxlength="3"
                           data-product-id="{{ product.id }}"/></td>
                <td class="product_total">{{ product.total }}</td>
                <td><i class="fas fa-trash product_remove" title="remove from cart" data-product-id="{{ product.id }}"></i></td>
            </tr>
        {% endfor %}
        <tfoot>
        <tr>
            <th>Total</th>
            <th></th>
            <th></th>
            <th></th>
            <th id="cart_total">{{ total }}</th>
            <th></th>
        </tr>
        </tfoot>
    </table>
    {% include 'include/cart_buttons.twig' %}
{% endblock %}

{% block script %}
    <script type="text/javascript">
        const inputs = document.getElementsByClassName("product_quantity");
        for (let i = 0; i < inputs.length; i++) {
            inputs[i].addEventListener('change', function (e) {
                let quantity = e.srcElement.value;
                let productId = e.srcElement.dataset.productId;
                let cart = new Cart();
                cart.change(productId, quantity);
            });
        }

        const removes = document.getElementsByClassName("product_remove");
        for (let i = 0; i < removes.length; i++) {
            removes[i].addEventListener('click', function (e) {
                let productId = e.srcElement.dataset.productId;
                let cart = new Cart();
                cart.remove(productId, e.srcElement.parentNode.parentNode);
            });
        }
        if(navigator.onLine){
            let cart = new Cart();
            if(cart.checkStorage()){
                document.getElementById("unsaved_storage").style.display = "inline-block";
            }
            document.getElementById("sync_storage").addEventListener('click', function (e) {
                e.preventDefault();
                document.getElementById("cart").style.display = "none";
                document.getElementById("cart_sync_loader").style.display = "block";
                let cart = new Cart();
                cart.syncStorage(function(){
                    document.location.href = "/cart";
                });
            });
        }

    </script>
    {% include 'script/cart.twig' %}
    {% if sarehub_pixel.domain %}
        {% include 'script/sarehub_pixel/cart.twig' %}
    {% endif %}
    {% if sarehub_js.domain %}
        {% include 'script/sarehub_js/cart.twig' %}
    {% endif %}
    {% if revhunter_js.cart > 0 %}
        {% include 'script/revhunter_js/cart.twig' %}
    {% endif %}
    {% if facebook_js.id %}
        {% include 'script/facebook_js/cart.twig' %}
    {% endif %}
{% endblock %}
