<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %} - Feed</title>
    <link href='/style.css' rel='stylesheet' type='text/css'/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="{{ appName }}">
    <meta name="application-name" content="{{ appName }}">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="{{ appName }} product feed showroom">
    {% block head %}
    {% endblock %}
</head>
<body>
<div id="header">
    <a href="/"><i class="fas fa-home" title="go to homepage"></i>Home</a>
    <a href="{{ path_for('cart') }}" style="text-decoration: none;"><i class="fas fa-shopping-cart" id="cart_icon"
                                                                       title="go to cart"></i><span
            id="cart_count">{{ cartCount }}</span><span style="text-decoration: underline;">Cart</span></a>
</div>
<div id="content" data-session-id="{{ sessionId }}">
    {% if fallback %}
        <i class="fas fa-exclamation-triangle"></i>
        <p class="fallback"><br/>It's seems you are offline and requested page cannot be found in cache.</p>
    {% else %}
    {% block content %}{% endblock %}
    {% endif %}
</div>
{% include 'script/layout.twig' %}
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.6.3/css/solid.css" integrity="sha384-+0VIRx+yz1WBcCTXBkVQYIBVNEFH1eP6Zknm16roZCyeNg2maWEpk/l/KsyFKs7G" crossorigin="anonymous">
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.6.3/css/fontawesome.css" integrity="sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0" crossorigin="anonymous">
<script src='/lib.js'></script>
<script>
    // Check that service workers are registered
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/sw.js')
                .then(function(registration) {
                    console.log('Registration successful, scope is:', registration.scope);
                })
                .catch(function(error) {
                    console.log('Service worker registration failed, error:', error);
                });
        });
    }
</script>
{% block script %}{% endblock %}
</body>
</html>