{% extends "layout.html" %}

{% block title %}Products{% endblock %}
{% block content %}
<h1>Products page</h1>
<h4>Total products: {{ productsCount }}</h4>
<div class="products">
    {% for product in products %}
        <div class="product">
            <a href="{{ path_for('product', { 'id': product.id }) }}">
                <p class="name">{{ product.title }}</p>
                <p class="img"><img src="{{ product.image_link }}"/></p>
            </a>
            <p class="price">Cena: <span>{{ product.price }}</span></p>
            <i class="material-icons">shopping_basket</i>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
    <script>

    </script>
{% endblock %}
