{% extends "layout.twig" %}

{% block title %}Product{% endblock %}
{% block head %}
    <!-- Open Graph Metadata -->
    <meta property="og:title" content="{{ product.title }}">
    <meta property="og:description" content="{{ product.description }}">
    <meta property="og:url" content="{{ base_url() }}{{ path_for('product', { 'id': product.id }) }}">
    <meta property="og:image" content="{{ product.image_link }}">
    <meta property="product:price:amount" content="{{ product.price }}">
    <meta property="product:price:currency" content="{{ currency }}">
    <meta property="product:retailer_item_id" content="{{ product.id }}">
    <!-- End Open Graph Metadata -->
{% endblock %}
{% block content %}
<h1>Product page</h1>
<div class="product">
    <a href="{{ path_for('product', { 'id': product.id }) }}">
        <p class="name">{{ product.title }}</p>
        <p class="img"><img src="{{ product.image_link }}"/></p>
        <p class="price">Cena: <span>{{ product.price }}</span></p>
    </a>
    <i class="fas fa-cart-plus add-to-cart" title="add to cart"></i>
    <p class="description">{{ product.description }}</p>
    {% for field in extraFields %}
        <p class="description" data-field="{{field.name}}"><span>{{field.name}}</span>: {{ field.value }}</p>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        document.addEventListener('click', function(e){
            if(e.srcElement.classList.contains('add-to-cart')) {
                let cart = new Cart();
                cart.add('{{ product.id }}', 1);
            }
        });
    </script>
    {% include 'script/product.twig' %}
    {% if sarehub_js.domain %}
        {% include 'script/sarehub_js/product.twig' %}
    {% endif %}
{% endblock %}