{% extends "layout.html" %}

{% block title %}Product{% endblock %}
{% block content %}
<h1>Product page</h1>
<div class="product">
    <div class="product_id"></div>
    <a href="{{ path_for('product', { 'id': product.id }) }}">
        <p class="name">{{ product.title }}</p>
        <p class="img"><img src="{{ product.image_link }}"/></p>
        <p class="price">Cena: <span>{{ product.price }}</span></p>
    </a>
    <p class="description">{{ product.description }}</p>
</div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        (function (p){
            window['sareX_params']=p;var s=document.createElement('script');
            s.src='//x.sare25.com/libs/sarex4.min.js';s.async=true;var t=document.getElementsByTagName('script')[0];
            t.parentNode.insertBefore(s,t);
        })({
            domain : 'feed1.revhunter.pl',
            inisTrack : {t:'p', c:'feed1',s:'all', uid:[2014]},
            ping : {'period0' : 10, 'period1' : 60},
            webPush: {
                mode: 'popover'
            }
        });
        sareX_params.tag = {"_userId":null,"_email":null,"_product":{"id":{{ product.id }},
            "url":"{{ base_url() }}{{ path_for('product', { 'id': product.id }) }}","country":"PL","language":"pl"}};

        document.addEventListener('click', function(e){
            if(e.srcElement.classList.contains('add-to-cart')){
                var quantity_input = document.getElementById('quantity_wanted');
                var execute_params = {'_userId': '', '_email' : '', '_cartadd' : {'country' : 'PL', 'language': 'pl', 'cart_id' : '105', 'product_id' : {{ product.id }}, 'quantity' : quantity_input.value}};
                console.log(execute_params);
                sareX_core.execute(10, execute_params);
            }
        });

        console.log(sareX_params.tag);
    </script>
{% endblock %}