{% extends "layout.html" %}

{% block title %}Product{% endblock %}
{% block content %}
<h1>Product page</h1>
<div class="product">
    <div class="product_id"></div>
    <a href="{{ path_for('product', { 'id': product.id }) }}">
        <p class="name">{{ product.title }}</p>
        <p class="img"><img src="{{ product.image_link }}"/></p>
        <p class="price">Cena: <span>{{ product.price }}</span></p>
    </a>
    <i class="material-icons add-to-basket">shopping_basket</i>
    <p class="description">{{ product.description }}</p>
</div>
{% endblock %}

{% block script %}
    {% include 'include/product.twig' %}
{% endblock %}